{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <main role="main">
            <h5 class="card-title">Répétition du {{ event.dateTimeStart|date('d/m/Y') }}</h5>

            {{ form_start(form) }}
                <fieldset>
                    <!-- Form Name -->
                    <legend>Trajet Aller</legend>
                    <div class="form-group">
                        {{ form_label(form.nbKmGo, 'Nombre de km') }}
                        {{ form_errors(form.nbKmGo) }}
                        {{ form_widget(form.nbKmGo) }}
                        {{ form_help(form.nbKmGo) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.tollGo, 'Péage') }}
                        {{ form_errors(form.tollGo) }}
                        {{ form_widget(form.tollGo) }}
                        {{ form_help(form.tollGo) }}
                    </div>
                </fieldset>
                <fieldset>
                    <!-- Form Name -->
                    <legend>Trajet Retour</legend>
                    <div class="form-group">
                        {{ form_label(form.nbKmReturn, 'Nombre de km') }}
                        {{ form_errors(form.nbKmReturn) }}
                        {{ form_widget(form.nbKmReturn) }}
                        {{ form_help(form.nbKmReturn) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.tollReturn, 'Péage') }}
                        {{ form_errors(form.tollReturn) }}
                        {{ form_widget(form.tollReturn) }}
                        {{ form_help(form.tollReturn) }}
                    </div>
                </fieldset>
            {{ form_end(form) }}
        </main>
    </div>
{% endblock %}