<div class="card w-100 mb-2">
    <div class="card-body">
        <h5 class="card-title">
            {% if event.type == 'repetition' %} 
                Répétition
            {% elseif event.type == 'concert' %} 
                Concert
            {% else %}
                Réunion
            {% endif %} 
             du {{ event.dateTimeStart|date('d/m/Y') }}</h5>
        {% if event.addressLabel %}
            <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> {{event.addressLabel}}, {{event.address}}, {{event.postalCode}}, {{event.city}}</h6>
        {% endif %}
        {% if event.isDeclarable() %}
            {% if event.getExpenseEventsByUser(user)|length > 0 %}
                <a href="{{ path('event_declare', {'id': event.id}) }}" class='btn btn-secondary'>
                    <i class="fas fa-pencil-alt"></i> Modifier
                </a>
            {% else %}
                <a href="{{ path('event_declare', {'id': event.id}) }}" class="btn btn-primary">Déclarer</a>
            {% endif %}
        {% endif %}
    </div>
</div>