{% extends 'base.html.twig' %}

{% block body %}
    {{ include('navbar.html.twig') }}

    <div class="container-fluid">
        <main role="main">
            <div class="mx-auto w-75 mb-2">
                <h2 class="mt-4 mb-4">Mes frais</h2>
                <div id="periods">
                    {% for period in periods %}
                        {% set yearStart = period.dateStart|date('Y') %}
                        {% set yearEnd = period.dateEnd|date('Y') %}
                        <button type="button" class="btn btn-light {{ periodSelected.id == period.id ? 'active' }}">
                            <a href="{{ path('expenseEvent_list', {'period': period.id}) }}">
                                {% if yearStart != yearEnd %}
                                    {{yearStart}} - {{yearEnd}}
                                {% else %}
                                    {{yearStart}}
                                {% endif %}
                            </a>
                        </button>
                    {% endfor %}
                </div>
                {% if expenseEvents|length > 0 %}
                    {% include 'expenseEvent/table.html.twig' with {'expenseEvents': expenseEvents} %}
                {% else %}
                    Aucun frais déclaré pour la période sélectionnée
                {% endif %}
            </div>
        </main>
    </div>
{% endblock %}